IntegrationWebSiteMvc/Service References/Services/LookupService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://FinalBuild.co.uk/LookupService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LookupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://FinalBuild.co.uk/LookupService" location="http://devapps1.finalbuild.co.uk/WorkIntegrationService/WorkLookupService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ILookupService" type="i0:ILookupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivityTree">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetActivityTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivityTreeFiltered">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetActivityTreeFiltered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivitiesForMobile">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetActivitiesForMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivitiesMatchingCriteria">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetActivitiesMatchingCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveActivity">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/SaveActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskLibrary">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetTaskLibrary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskLookupData">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetTaskLookupData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskLookupDataBySourceSystem">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetTaskLookupDataBySourceSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPriorityLookupData">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetPriorityLookupData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnHoldLookupData">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetOnHoldLookupData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivityLookupData">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetActivityLookupData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivityOnHoldReasons">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetActivityOnHoldReasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTaskTemplate">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/SaveTaskTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTaskTemplateAndActivitySequence">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/SaveTaskTemplateAndActivitySequence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCategory">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/SaveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLookupData">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/SaveLookupData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestLookupContainer">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/RequestLookupContainer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowLookupData">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/GetWorkflowLookupData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTasksFromActivity">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/RemoveTasksFromActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTasksToActivity">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/AddTasksToActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTaskSequence">
      <soap:operation soapAction="http://FinalBuild.co.uk/LookupService/ILookupService/SaveTaskSequence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LookupService">
    <wsdl:port name="BasicHttpBinding_ILookupService" binding="tns:BasicHttpBinding_ILookupService">
      <soap:address location="http://devapps1.finalbuild.co.uk/WorkIntegrationService/WorkLookupService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>