IntegrationWebSiteMvc/Service References/CorporateData/BusinessObjects.WorkManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:BusinessObjects.WorkManagement" elementFormDefault="qualified" targetNamespace="urn:BusinessObjects.WorkManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BusinessObjects" />
  <xs:complexType name="ArrayOfStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stock" nillable="true" type="tns:Stock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStock" nillable="true" type="tns:ArrayOfStock" />
  <xs:complexType name="Stock">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q1:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AllocatedQuantity" type="xs:int" />
          <xs:element minOccurs="0" name="DataRetrievedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PhysicalQuantity" type="xs:int" />
          <xs:element minOccurs="0" name="StockItems" nillable="true" type="tns:StockItemCollection" />
          <xs:element minOccurs="0" name="UnAllocatedQuantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Stock" nillable="true" type="tns:Stock" />
  <xs:complexType name="StockItemCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockItem" nillable="true" type="tns:StockItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockItemCollection" nillable="true" type="tns:StockItemCollection" />
  <xs:complexType name="StockItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q2:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataRetrievedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="JobDueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="JobID" type="xs:int" />
          <xs:element minOccurs="0" name="LastUpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="tns:StockLocation" />
          <xs:element minOccurs="0" name="Material" nillable="true" type="tns:Material" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
          <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="tns:eStockStatus" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockItem" nillable="true" type="tns:StockItem" />
  <xs:complexType name="StockLocation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q3:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationID" type="xs:int" />
          <xs:element minOccurs="0" name="Type" type="tns:eStockLocation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockLocation" nillable="true" type="tns:StockLocation" />
  <xs:simpleType name="eStockLocation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Warehouse" />
      <xs:enumeration value="Van" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eStockLocation" nillable="true" type="tns:eStockLocation" />
  <xs:complexType name="Material">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q4:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssetType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
          <xs:element minOccurs="0" name="Scope" type="tns:eTaskScope" />
          <xs:element minOccurs="0" name="ScopedTasks" nillable="true" type="tns:ReferenceTypeCollection" />
          <xs:element minOccurs="0" name="Supplier" nillable="true" type="tns:ReferenceType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
  <xs:simpleType name="eTaskScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="AllTasks" />
      <xs:enumeration value="SpecificTasks" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eTaskScope" nillable="true" type="tns:eTaskScope" />
  <xs:complexType name="ReferenceTypeCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferenceType" nillable="true" type="tns:ReferenceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferenceTypeCollection" nillable="true" type="tns:ReferenceTypeCollection" />
  <xs:complexType name="ReferenceType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q5:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferenceType" nillable="true" type="tns:ReferenceType" />
  <xs:simpleType name="eStockStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Allocated" />
      <xs:enumeration value="UnAllocated" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eStockStatus" nillable="true" type="tns:eStockStatus" />
  <xs:complexType name="ArrayOfAsset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asset" nillable="true" type="tns:Asset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAsset" nillable="true" type="tns:ArrayOfAsset" />
  <xs:complexType name="Asset">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q6:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssetType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Attributes" nillable="true" type="tns:AssetAttributeCollection" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Contact" nillable="true" type="tns:Contact" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="q6:ArrayOfKeyValuePair" />
          <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:AssetGroupCollection" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IndicatorGroups" nillable="true" type="tns:PerformanceIndicatorGroupCollection" />
          <xs:element minOccurs="0" name="Indicators" nillable="true" type="tns:PerformanceIndicatorCollection" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="MeasurementHistory" nillable="true" type="tns:PerformanceMeasurementCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Asset" nillable="true" type="tns:Asset" />
  <xs:complexType name="AssetAttributeCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetAttribute" nillable="true" type="tns:AssetAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetAttributeCollection" nillable="true" type="tns:AssetAttributeCollection" />
  <xs:complexType name="AssetAttribute">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q7:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEditable" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsHidden" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMandatory" type="xs:boolean" />
          <xs:element minOccurs="0" name="MaxLength" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Position" type="xs:int" />
          <xs:element minOccurs="0" name="Type" type="tns:eAssetAttributeType" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValidationExpression" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValidationMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetAttribute" nillable="true" type="tns:AssetAttribute" />
  <xs:simpleType name="eAssetAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Static" />
      <xs:enumeration value="Dynamic" />
      <xs:enumeration value="Core" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eAssetAttributeType" nillable="true" type="tns:eAssetAttributeType" />
  <xs:complexType name="Contact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q8:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlternativeTelephoneNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Forenames" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TelephoneNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="AssetGroupCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetGroup" nillable="true" type="tns:AssetGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetGroupCollection" nillable="true" type="tns:AssetGroupCollection" />
  <xs:complexType name="AssetGroup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q9:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Assets" nillable="true" type="tns:AssetCollection" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Preferences" nillable="true" type="tns:Preferences" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AssetGroup" nillable="true" type="tns:AssetGroup" />
  <xs:complexType name="AssetCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asset" nillable="true" type="tns:Asset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetCollection" nillable="true" type="tns:AssetCollection" />
  <xs:complexType name="Preferences">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q10:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="RequiredEngineerID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeWindow" type="tns:eTimeWindow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Preferences" nillable="true" type="tns:Preferences" />
  <xs:simpleType name="eTimeWindow">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Morning" />
      <xs:enumeration value="Afternoon" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eTimeWindow" nillable="true" type="tns:eTimeWindow" />
  <xs:complexType name="PerformanceIndicatorGroupCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformanceIndicatorGroup" nillable="true" type="tns:PerformanceIndicatorGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceIndicatorGroupCollection" nillable="true" type="tns:PerformanceIndicatorGroupCollection" />
  <xs:complexType name="PerformanceIndicatorGroup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q11:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Indicators" nillable="true" type="tns:PerformanceIndicatorCollection" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Precedence" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PerformanceIndicatorGroup" nillable="true" type="tns:PerformanceIndicatorGroup" />
  <xs:complexType name="PerformanceIndicatorCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformanceIndicator" nillable="true" type="tns:PerformanceIndicator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceIndicatorCollection" nillable="true" type="tns:PerformanceIndicatorCollection" />
  <xs:complexType name="PerformanceIndicator">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q12:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AssetType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="MaxValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="MinValue" type="xs:decimal" />
          <xs:element minOccurs="0" name="Position" type="xs:int" />
          <xs:element minOccurs="0" name="Scope" type="tns:eTaskScope" />
          <xs:element minOccurs="0" name="ScopedTasks" nillable="true" type="tns:ReferenceTypeCollection" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValidationExpression" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValidationMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PerformanceIndicator" nillable="true" type="tns:PerformanceIndicator" />
  <xs:complexType name="Location">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Site">
        <xs:sequence>
          <xs:element minOccurs="0" name="Assets" nillable="true" type="tns:ArrayOfAsset" />
          <xs:element minOccurs="0" name="Directions" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="Site">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Property">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Site" nillable="true" type="tns:Site" />
  <xs:complexType name="Property">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LocationBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DepLocality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasBeenValidated" type="xs:boolean" />
          <xs:element minOccurs="0" name="HouseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HouseNo" type="xs:int" />
          <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PropertyReference" type="xs:int" />
          <xs:element minOccurs="0" name="PropertyType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteID" type="xs:int" />
          <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubBuilding" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
  <xs:complexType name="LocationBase">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q13:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Latitude" type="xs:double" />
          <xs:element minOccurs="0" name="Longitude" type="xs:double" />
          <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XCoord" type="xs:int" />
          <xs:element minOccurs="0" name="YCoord" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationBase" nillable="true" type="tns:LocationBase" />
  <xs:complexType name="PerformanceMeasurementCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformanceMeasurement" nillable="true" type="tns:PerformanceMeasurement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceMeasurementCollection" nillable="true" type="tns:PerformanceMeasurementCollection" />
  <xs:complexType name="PerformanceMeasurement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PerformanceIndicator">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="JobID" type="xs:int" />
          <xs:element minOccurs="0" name="ReadDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Value" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PerformanceMeasurement" nillable="true" type="tns:PerformanceMeasurement" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Contact">
        <xs:sequence>
          <xs:element minOccurs="0" name="BillingAddress" nillable="true" type="tns:Location" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:CommentAuditRecordCollection" />
          <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ContactCollection" />
          <xs:element minOccurs="0" name="HasLocationChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasSpecialNeeds" type="xs:boolean" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="ParentCustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="Preferences" nillable="true" type="tns:Preferences" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="CommentAuditRecordCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentAuditRecord" nillable="true" type="tns:CommentAuditRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentAuditRecordCollection" nillable="true" type="tns:CommentAuditRecordCollection" />
  <xs:complexType name="CommentAuditRecord">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q14:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ChangeUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsCritical" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsEngineerComment" type="xs:boolean" />
          <xs:element minOccurs="0" name="SortExpression" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" type="tns:eCommentType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommentAuditRecord" nillable="true" type="tns:CommentAuditRecord" />
  <xs:simpleType name="eCommentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="General" />
      <xs:enumeration value="OnHold" />
      <xs:enumeration value="Telemetry" />
      <xs:enumeration value="UtilityPlan" />
      <xs:enumeration value="Overdue" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eCommentType" nillable="true" type="tns:eCommentType" />
  <xs:complexType name="ContactCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactCollection" nillable="true" type="tns:ContactCollection" />
  <xs:complexType name="ArrayOfMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterial" nillable="true" type="tns:ArrayOfMaterial" />
  <xs:complexType name="ArrayOfPerformanceMeasurement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformanceMeasurement" nillable="true" type="tns:PerformanceMeasurement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerformanceMeasurement" nillable="true" type="tns:ArrayOfPerformanceMeasurement" />
  <xs:complexType name="ArrayOfActivityTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityTask" nillable="true" type="tns:ActivityTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivityTask" nillable="true" type="tns:ArrayOfActivityTask" />
  <xs:complexType name="ActivityTask">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q15:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Duration" type="xs:int" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IsComplete" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsCritical" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDatabaseComplete" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsNotApplicable" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastUpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MaterialsRequired" nillable="true" type="tns:MaterialCollection" />
          <xs:element minOccurs="0" name="MeasurementsRequired" nillable="true" type="tns:PerformanceMeasurementCollection" />
          <xs:element minOccurs="0" name="Scope" type="tns:eJobScope" />
          <xs:element minOccurs="0" name="ScopedAssets" nillable="true" type="tns:ReferenceTypeCollection" />
          <xs:element minOccurs="0" name="Sequence" type="xs:int" />
          <xs:element minOccurs="0" name="SkillsBreakdown" nillable="true" type="tns:SkillsMatrix" />
          <xs:element minOccurs="0" name="TaskUpdateType" nillable="true" type="tns:TaskUpdateType" />
          <xs:element minOccurs="0" name="TemplateID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityTask" nillable="true" type="tns:ActivityTask" />
  <xs:complexType name="MaterialCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialCollection" nillable="true" type="tns:MaterialCollection" />
  <xs:simpleType name="eJobScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="AllAssets" />
      <xs:enumeration value="SpecificAssets" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eJobScope" nillable="true" type="tns:eJobScope" />
  <xs:complexType name="SkillsMatrix">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q16:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AreSkillsMappedAtActivityLevel" type="xs:boolean" />
          <xs:element minOccurs="0" name="NoOfResourcesRequired" type="xs:int" />
          <xs:element minOccurs="0" name="ResourceProfiles" nillable="true" type="tns:ResourceProfileCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SkillsMatrix" nillable="true" type="tns:SkillsMatrix" />
  <xs:complexType name="ResourceProfileCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceProfile" nillable="true" type="tns:ResourceProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceProfileCollection" nillable="true" type="tns:ResourceProfileCollection" />
  <xs:complexType name="ResourceProfile">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q17:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Skills" nillable="true" type="tns:SkillCollection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceProfile" nillable="true" type="tns:ResourceProfile" />
  <xs:complexType name="SkillCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Skill" nillable="true" type="tns:Skill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkillCollection" nillable="true" type="tns:SkillCollection" />
  <xs:complexType name="Skill">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q18:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="NoOfWorkersRequired" type="xs:int" />
          <xs:element minOccurs="0" name="SourceSystems" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StandardHours" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Skill" nillable="true" type="tns:Skill" />
  <xs:complexType name="TaskUpdateType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/BusinessObjects" base="q19:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TaskUpdateType" nillable="true" type="tns:TaskUpdateType" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
</xs:schema>