IntegrationWebSiteMvc/Service References/CorporateData/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerSearchCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:eCustomerSearchType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerSearchCriteria" nillable="true" type="tns:CustomerSearchCriteria" />
  <xs:simpleType name="eCustomerSearchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Client" />
      <xs:enumeration value="Customer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eCustomerSearchType" nillable="true" type="tns:eCustomerSearchType" />
</xs:schema>