IntegrationWebSiteMvc/Service References/CorporateData/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://FinalBuild.co.uk/ExternalDataService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExternalDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://FinalBuild.co.uk/ExternalDataService" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IExternalDataService" type="i0:IExternalDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchStock">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/SearchStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStockItemsByMaterialAndJob">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/DeleteStockItemsByMaterialAndJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStockItemsByMaterialAndJob">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/UpdateStockItemsByMaterialAndJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAssets">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/SearchAssets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCustomers">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/SearchCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMaterials">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/SearchMaterials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMeasurements">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/SearchMeasurements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EvolveMetadata">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/EvolveMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAssetData">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/UploadAssetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAssetMeasurements">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/UploadAssetMeasurements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCustomerData">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/UploadCustomerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContactInfo">
      <soap:operation soapAction="http://FinalBuild.co.uk/ExternalDataService/IExternalDataService/SaveContactInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalDataService">
    <wsdl:port name="BasicHttpBinding_IExternalDataService" binding="tns:BasicHttpBinding_IExternalDataService">
      <soap:address location="http://devapps1.finalbuild.co.uk/WorkIntegrationService/ExternalDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>